html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.container {
  align-content: center;
  padding-top: 150px;
  position: relative;
}

#welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 334px;
  width: 2000px;
}


.game {
  border: 1px solid white;
  display: none;
  text-align: center;
}

.start-btn {
  position: absolute;
  top: 400px;
  left: 942px;
  cursor: pointer;
}

.start-btn:hover {
  background-color:darkred;
}

#musicoff {
  cursor: pointer;
}

#musicoff:hover {
  background-color:darkred;
}

.hidden {
  visibility: hidden;
}