html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: black;
}


.container {
  position: relative;
  text-align: center;
  padding-top: 150px;
  padding-left: 600px;
}


canvas {
  border: 1px solid white;
  display: none;
}